body {
  margin: 0;
  background-color: rgb(19, 19, 19);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  background-color: black;
  color: white;
}

footer {
  width: auto;
  margin-top: 100px;
  background-color: black;
}

#mainAdoptTitle {
  font-family: 'Graduate', cursive;
  color: bisque;
}

.sectTitle {
  font-family: 'Graduate', cursive;
  color: bisque;
  text-decoration: underline;
  margin-top: 70px;
}

.description {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 50px;
}

#carnivores {
  margin-top: 125px;
  position: relative;
  bottom: 30px;
}

.card {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: black;
  width: 300px;
  height: 350px;
  text-align: center;
  border: 1px solid bisque;
}

.card-img-top {
  height: 250px;
  width: 290px;
}

.dinoName {
  color: azure;
  font-family: 'Graduate', cursive;
  font-size: 24px;
}

.adoptBtn {
  font-family: 'Graduate', cursive;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: gray;
}

.adoptBtn:hover {
  background-color: red;
}

.adoptBtn[disabled] {
  cursor: default;
  opacity: .8;
}

.navbar{
  background-color: transparent;
}

.navbar.colorChange{
  background-color: #000;
}