body {
  font-family: 'Bentham', serif;
  margin: 0;
  background-color: rgb(19, 19, 19);
}

p {
  font-size: 17px;
}

footer {
  flex: 1;
  align-items: center;
  margin-top: 50px;
  background-color: black;
  border: 5px solid azure;
}

.mainPageTitle {
  font-family: 'Fredericka the Great', cursive;
  color: bisque;
}

.sectTitle {
  font-family: 'Fredericka the Great', cursive;
  color: bisque;
  text-decoration: underline;
  margin-top: 25px;
}

.description {
  margin-top: 70px;
  border: 1px solid bisque;
  background-color: black;
}

#carnivores {
  margin-top: 70px;
  position: relative;
  bottom: 30px;
}

.card {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: black;
  width: 300px;
  height: 350px;
  text-align: center;
  border: 1px solid bisque;
}

.card-img-top {
  height: 250px;
  width: 290px;
}

.dinoName {
  color: bisque;
  font-family: 'Fredericka the Great', cursive;
  font-size: 24px;
}

.adoptBtn {
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: rgb(33, 32, 32);
}

.adoptBtn:hover {
  background-color: red;
}

.adoptBtn[disabled] {
  cursor: default;
  opacity: .8;
}
