body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  height: 100px;
  width: auto;
  background-color: black;
}

footer {
  height: 100px;
  width: auto;
  background-color: darkred;
}

.card {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: black;
  width: 300px;
  height: 350px;
  text-align: center;
}

.card-img-top {
  height: 250px;
  width: 300px;
}

.dinoName {
  color: azure;
  font-family: 'Fredericka the Great', cursive;
  font-size: 24px;
}

.adoptBtn {
  font-family: 'Fredericka the Great', cursive;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: gray;
}

.adoptBtn:hover {
  background-color: red;
}

.adoptBtn[disabled] {
  cursor: default;
  opacity: .8;
}